$primero: #974061;
$segundo: #424369;
$tercero: #F3486A;
$cuarto: #f8a58c;
$quinto: #0295A9;
$sexto: #12ADC1;
$septimo: #FDD037;
$octavo: #FBFBFB;

$paleta_de_colores:(
    primero: $primero,
    segundo: $segundo,
    tercero: $tercero,
    cuarto: $cuarto,
    quinto: $quinto,
    sexto: $sexto,
    septimo: $septimo,
    octavo: $octavo,
);
