.element_footer_1{
    display: flex;
    justify-items: center;
    align-items: center;
}

.aside_contactanos{
    display: flex;
    margin-top: 100px;
    img{
        border-radius: 10%;
        border: solid 2px #BBB;
    }
}

.carousel_galeria{
    display: flex;
    padding: 30px;
    width: 650px;
}